body {
    margin: 0;
}

table {
    border-collapse: collapse;
}

thead td {
    font-weight: 700;
    background: lightgray;
}

td {
    padding: 10px;
    cursor: pointer;
}

tr {
    border-bottom: 1px solid lightgray;
}

tr:nth-child(even) {
    background: #f1f1f1;
}

tr:hover {
    background: lightgray;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal__body {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: white;
}

.modal__title {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.modal__description {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.modal__description > * {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0;
    white-space: nowrap;
}

.modal__description input {
    flex: 1 1 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    line-height: 1.5rem;
    margin-left: 10px;
}

.modal__description input:focus {
    outline: none;
}

.modal__control {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn__close {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5px;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}

.btn__close--modal {
    top: 10px;
    right: 10px;
    left: auto;
    transform: none;
}

.btn__close::before, .btn__close::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: black;
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

tr > td:last-child {
    position: relative;
}

.btn__add {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: #F44336;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms;
    cursor: pointer;
}

.btn__add::before, .btn__add::after {
    content: '';
    display: block;
    width: 40%;
    height: 4px;
    border-radius: 2px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms;
}

.btn__add:hover::before, .btn__add:hover::after {
    width: 60%;
}

.btn__add::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.btn__add:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    border: 1px solid lightgray;
    padding: .375rem .75rem;
    margin-left: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    background: lightgray;
}

.btn:active {
    background: #a5a5a5;
}

@media (max-width: 576px) {
    table {
        display: flex;
    }

    thead {
        flex: 0 0 87px;
    }

    thead td {
        display: block;
    }

    tbody{
        display: flex;
        flex: 1 1 100%;
        overflow-y: auto;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
    }

    .modal__body {
        max-width: 300px;
    }

    .btn__close {
        left: auto;
    }
}